**10 Real-Time Problem Statements Using String Formatting**

**Invoice Generator**

Format product names, quantities, and prices in a readable tabular format.

In [1]:
items = [("Pen", 10, 2.5), ("Notebook", 5, 40), ("Bag", 1, 500)]
print(f"{'Item':<10}{'Qty':<5}{'Price':<10}{'Total':<10}")
for item, qty, price in items:
    total = qty * price
    print(f"{item:<10}{qty:<5}{price:<10.2f}{total:<10.2f}")

Item      Qty  Price     Total
Pen       10   2.50      25.00
Notebook  5    40.00     200.00
Bag       1    500.00    500.00

**Salary Slip Formatter**

Align employee details and pay breakdown using placeholders.

In [2]:
name = "John Doe"
basic = 15000
hra = 5000
total = basic + hra
print(f"Employee: {name:>10}")
print(f"Basic   : ₹{basic:<10}")
print(f"HRA     : ₹{hra:<10}")
print(f"Total   : ₹{total:<10}")

Employee:   John Doe
Basic   : ₹15000
HRA     : ₹5000
Total   : ₹20000

**Leaderboard Printer**

Display player names and scores with uniform spacing.

In [3]:
players = [("Alice", 95), ("Bob", 87), ("Charlie", 99)]
print(f"{'Player':<15}{'Score':<5}")
for player, score in players:
    print(f"{player:<15}{score:<5}")

Player         Score
Alice          95
Bob            87
Charlie        99

**Weather Report Generator**

Show temperatures and forecasts using modifiers (°C, %).

In [4]:
city = "Pune"
temperature = 32.456
humidity = 65.5
print(f"Weather Report for {city}")
print(f"Temperature: {temperature:.1f}°C")
print(f"Humidity   : {humidity:.0f}%")

Weather Report for Pune
Temperature: 32.5°C
Humidity   : 66%

**Shopping Receipt Printer**

Format prices, quantities, and totals clearly.

In [5]:
cart = [("Apple", 3, 30), ("Milk", 1, 50), ("Bread", 2, 25)]
print(f"{'Product':<10}{'Qty':<5}{'Unit Price':<12}{'Amount'}")
for name, qty, price in cart:
    amount = qty * price
    print(f"{name:<10}{qty:<5}{price:<12}{amount}")

Product   Qty  Unit Price  Amount
Apple     3    30          90
Milk      1    50          50
Bread     2    25          50

**Chat Logger**

Log messages with timestamp and user info in a readable layout.

In [6]:
from datetime import datetime
user = "Alice"
message = "Hey, how are you?"
timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(f"[{timestamp}] {user}: {message}")

[2025-05-23 03:04:42] Alice: Hey, how are you?

**System Log Formatter**

Format logs with levels like INFO, ERROR using named indexes.

In [7]:
level = "ERROR"
message = "Failed to connect to DB"
print("Log: {lvl:<7} | Message: {msg}".format(lvl=level, msg=message))

Log: ERROR   | Message: Failed to connect to DB

**Student Grade Sheet**

Create clean output for names, grades, percentages.

In [8]:
students = [("Amit", 89, 94.6), ("Rita", 78, 85.3)]
print(f"{'Name':<10}{'Grade':<10}{'Percentage'}")
for name, grade, percent in students:
    print(f"{name:<10}{grade:<10}{percent:.1f}%")

Name      Grade     Percentage
Amit      89        94.6%
Rita      78        85.3%

**Flight Ticket Generator**

Format passenger and flight details in a structured ticket layout.

In [9]:
name = "Ravi Kumar"
flight = "AI202"
departure = "Mumbai"
arrival = "Delhi"
print(f"{'='*30}\nTICKET\nPassenger: {name}\nFlight   : {flight}")
print(f"From     : {departure}\nTo       : {arrival}\n{'='*30}")

==============================
TICKET
Passenger: Ravi Kumar
Flight   : AI202
From     : Mumbai
To       : Delhi
==============================

**Email Template Personalizer**

Auto-insert recipient names and details into dynamic email templates.

In [10]:
template = "Dear {name},\n\nYour order #{order_id} has been shipped.\n\nThanks,\nE-Shop"
formatted_email = template.format(name="Sneha", order_id=12345)
print(formatted_email)

Dear Sneha,

Your order #12345 has been shipped.

Thanks,
E-Shop