**Real-Time Problem Statements Using For Loops Solutions**

**1.Email Campaign Sender**

Loop through a list of email addresses and send personalized emails.

In [15]:
emails = ["user1@example.com", "user2@example.com"]
for email in emails:
    print(f"Sending email to {email}")

Sending email to user1@example.com
Sending email to user2@example.com

**2.Password Strength Checker**

Loop through characters in a password and validate strength criteria.

In [14]:
password = "P@ssw0rd123"
has_upper = has_digit = has_special = False

for char in password:
    if char.isupper():
        has_upper = True
    elif char.isdigit():
        has_digit = True
    elif not char.isalnum():
        has_special = True

if has_upper and has_digit and has_special:
    print("Strong password")
else:
    print("Weak password")

Strong password

**3.Class Attendance Tracker**

Loop through a list of students and mark attendance.

In [13]:
students = ["Amit", "Sara", "John"]
for student in students:
    print(f"{student}: Present")

Amit: Present
Sara: Present
John: Present

**4.Leaderboard Generator**

Loop through a score list and rank players accordingly.

In [12]:
scores = [("Akshay", 95), ("Rohit", 88), ("Swapnil", 92)]
sorted_scores = sorted(scores, key=lambda x: x[1], reverse=True)

for rank, (name, score) in enumerate(sorted_scores, start=1):
    print(f"{rank}. {name} - {score}")

1. Akshay - 95
2. Swapnil - 92
3. Rohit - 88

**5.Weekly Schedule Creator**

Combine days and subjects using nested loops.

In [11]:
days = ["Monday", "Tuesday"]
subjects = ["Math", "Science"]

for day in days:
    for subject in subjects:
        print(f"{day}: {subject}")

Monday: Math
Monday: Science
Tuesday: Math
Tuesday: Science

**6.Survey Data Analyzer**

Loop through responses and tally results.

In [10]:
responses = ["Yes", "No", "Yes", "Yes", "No"]
tally = {"Yes": 0, "No": 0}

for response in responses:
    tally[response] += 1

print(tally)

{'Yes': 3, 'No': 2}

**7.Shopping Cart Summary**

Loop through cart items to calculate totals.

In [9]:
cart = [("Apple", 2, 30), ("Milk", 1, 50)]  # (Item, Quantity, Price)
total = 0

for item, qty, price in cart:
    total += qty * price
    print(f"{item}: {qty} x ₹{price} = ₹{qty * price}")

print(f"Total: ₹{total}")

Apple: 2 x ₹30 = ₹60
Milk: 1 x ₹50 = ₹50
Total: ₹110

**8.Customer Greeting Bot**

Loop through customer names and print greetings.

In [8]:
cust =["rohit", "akshay", "swapnil","shubham"]
for i in cust:
  print(f"Welcome {i}")

Welcome rohit
Welcome akshay
Welcome swapnil
Welcome shubham

**9.Weather Logger**

Loop through daily temperatures to find highest and lowest values.

In [4]:
temp=[]
print("Enter the last seven days temperature")
for i in range(1,7):
  temp.append(float(input(f"Enter the temperature of {i} day :")))
high = max(temp)
low = min(temp)
print(f"The highest temperature is {high}\nThe lowest temperature is {low}")

Enter the last seven days temperature
Enter the temperature of 1 day :33
Enter the temperature of 2 day :28
Enter the temperature of 3 day :31
Enter the temperature of 4 day :34
Enter the temperature of 5 day :35
Enter the temperature of 6 day :36
The highest temperature is 36.0
The lowest temperature is 28.0

**10.Multiplication Table Generator**

Use nested loops to print full multiplication tables.

In [2]:
num = int(input("Enter the number you have you generate multiplication table for : "))
for i in range(1,11):
  print(f"{num} * {i} = {num*i}")

Enter the number you have you generate multiplication table for : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50