****ðŸ§® 04 - Python Variables****

Variables are containers used to store data values in Python. These allow us to store information that can be referenced and manipulated later.

**i.Creating Variables**
In Python, variables are created when you assign a value to them. You don't need to declare the variable typeâ€”Python automatically determines it based on the assigned value.

In [1]:
x = 5
y = "Hello"
print(x)
print(y)

5
Hello

Explanation: In the above code, x stores the integer 5, and y stores the string "Hello".

**ii. Casting**
Casting is the process of converting one data type to another. You can use Pythonâ€™s built-in functions to cast variables.

In [2]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)

3 3 3.0

Explanation: The value 3 is converted to a string (str), integer (int), and float (float).

**iii. Get the Type**
To find out the type of a variable, you can use the type() function.

In [3]:
x = 5
print(type(x))

<class 'int'>

Explanation: The function type(x) returns the type of the variable x, which in this case is int.

**iv. Single or Double Quotes?**
In Python, you can use either single (') or double (") quotes to define strings. Both are perfectly valid.

In [4]:
a = 'Hello'
b = "World"
print(a, b)

Hello World

Explanation: Here, both single and double quotes are used to create string variables. They are interchangeable.

**v. Case-Sensitive**
Python is case-sensitive, meaning that variable names such as age, Age, and AGE are considered different.

In [5]:
age = 10
Age = 20
print(age, Age)

10 20

Explanation: Even though age and Age may look similar, they are treated as two different variables due to their case difference.

**2. Variable Names**

**i. Multi Word Variable Names**
In Python, variable names cannot have spaces, but you can use different conventions to create multi-word names.

**Camel Case**: The first letter of the first word is lowercase, and the first letter of subsequent words is uppercase.

In [6]:
myVariableName = "Camel Case"
myVariableName

'Camel Case'

**Pascal Case:** Similar to Camel Case but the first letter of each word is uppercase.

In [7]:
MyVariableName = "Pascal Case"
MyVariableName

'Pascal Case'

**Snake Case:** Words are separated by underscores, and all letters are lowercase.

In [8]:
my_variable_name = "Snake Case"
my_variable_name

'Snake Case'

**3. Assign Multiple Values**

**i. Many Values to Multiple Variables**
You can assign multiple values to multiple variables in a single line.

In [9]:
x, y, z = "Red", "Green", "Blue"
print(x, y, z)

Red Green Blue

Explanation: The values "Red", "Green", and "Blue" are assigned to x, y, and z respectively.

**ii. One Value to Multiple Variables**
You can assign the same value to multiple variables.

In [10]:
x = y = z = "Orange"
print(x, y, z)

Orange Orange Orange

Explanation: In this case, the string "Orange" is assigned to x, y, and z.

**iii. Unpack a Collection**
You can assign the elements of a collection (like a list) to variables in a single statement.

In [11]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x, y, z)

apple banana cherry

Explanation: The values of the list fruits are unpacked and assigned to x, y, and z respectively.

**4. Output Variables**

**i. Using print()**
The print() function is commonly used to display the value of variables.

In [12]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Explanation: The values of x, y, and z are printed in a single line, separated by spaces.

**ii. Using + operator**
The + operator can be used to combine strings, but both variables need to be of the same type (string).

In [13]:
a = "Python"
b = "3"
print(a + b)  # works only if both are strings

Python3

Explanation: In this case, both a and b are strings, so they are concatenated.

**iii. For numbers, + is mathematical**
The + operator is also used for mathematical addition when working with numbers.

In [14]:
x = 5
y = 10
print(x + y)

15

In [ ]:
Explanation: Since both x and y are numbers, the + operator adds them together.

**iv. Mixing types causes error**
If you try to mix a string and a number using +, youâ€™ll get an error.

In [15]:
# This will raise a TypeError:
age = 25
name = "John"
print(name + age)  # TypeError

TypeError: can only concatenate str (not "int") to str

Explanation: Python cannot concatenate a string with an integer, which leads to a TypeError.

**5. Global Variables**

**i. The global Keyword**
Global variables are variables that are defined outside of functions and can be accessed globally. The global keyword allows you to modify the value of a global variable inside a function.

In [16]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

Explanation: In this code, the global keyword is used to modify the global variable x inside the myfunc() function. After the function is called, the value of x changes to "fantastic".

**Real-Time Problem Statements**

1.Store your name and age in variables, then print them.

2.Take three favorite colors and unpack them into variables.

3.Assign the same discount rate to three products and print.

4.Combine first and last names into one variable.

5.Unpack a list of product prices and print the total.

6.Write a function that updates a global counter.

7.Show how + behaves differently with numbers vs strings.

8.Simulate a temperature sensor storing values in variables.

9.Store user details and print them together in one message.

10.Build a simple program: Welcome, <name> from <city>!