**Real-Time Problem Statements Solutions**

1.Store your name and age in variables, then print them.

In [1]:
name = "shubham"
age = 25
print(name, age)

shubham 25

2. Take three favorite colors and unpack them into variables.

In [2]:
color1, color2, color3 = "red", "green", "blue"
print(color1, color2, color3)

red green blue

3.Assign the same discount rate to three products and print.

In [3]:
product1 = product2 = product3 = 10
print(product1, product2, product3)

10 10 10

4.Combine first and last names into one variable.

In [4]:
first = "Akshay"
last = "Rao"
name = first + " " + last
print(name)

Akshay Rao

5.Unpack a list of product prices and print the total.

In [5]:
product_prices = [10, 20, 30]
prod1, prod2, prod3 = product_prices
total = prod1 + prod2 + prod3
print(total)

60

6.Write a function that updates a global counter.

In [14]:
def fn(n):
  global counter
  counter = n+1
  print(counter)

counter = 0
fn(3)

4

7.Show how + behaves differently with numbers vs strings.

In [16]:
#with numbers
print(5+7)
print("Akshay"+"Jana")

12
AkshayJana

8.Simulate a temperature sensor storing values in variables.

In [17]:
temperature1 = 22.5
temperature2 = 25.0
temperature3 = 21.8
average_temperature = (temperature1 + temperature2 + temperature3) / 3
print("Average Temperature:", average_temperature)

Average Temperature: 23.099999999999998

9.Store user details and print them together in one message.

In [18]:
username = "Swapnil"
age = 30
city = "Nagpur"
print(f"User Details: Name: {username}, Age: {age}, City: {city}")

User Details: Name: Swapnil, Age: 30, City: Nagpur

In [ ]:
10. Build a simple program: Welcome, <name> from <city>!

In [19]:
name = "Shiva"
city = "Mumbai"
print("Welcome, " + name + " from " + city + "!")

Welcome, Shiva from Mumbai!