**Python Tuples**

**1. Tuple**

A tuple is a collection which is ordered and unchangeable (immutable). Tuples are created using round brackets and are used to store multiple items in a single variable.

In [1]:
my_tuple = ("apple", "banana", "cherry")
my_tuple

('apple', 'banana', 'cherry')

**2. Tuple Items**

Tuple items are ordered, allow duplicates, and can contain items of any data type. Items are indexed from 0.

In [2]:
tuple_items = ("apple", "banana", "apple", 5, True)

**3. Ordered**

Tuples maintain the order of the items inserted. This means the order will not change.

In [3]:
ordered = (1, 2, 3)
print(ordered[0])  # Output: 1

1

**4. Unchangeable**

Once created, tuple items cannot be changed directly. This helps protect data from being modified accidentally.

In [4]:
t = ("a", "b")
t[0] = "z"  # This will raise an error

TypeError: 'tuple' object does not support item assignment

**5. Allow Duplicates**

Tuples can have items with the same value multiple times.

In [ ]:
t = ("apple", "banana", "apple")

**6. Tuple Length**

Use len() to find the number of items in a tuple.

In [5]:
print(len(t))  # Output: 3

2

**7. Create Tuple With One Item**

To create a one-item tuple, include a comma after the item.

In [8]:
single = ("apple",)
single

('apple',)

**8. Tuple Items - Data Types**

Tuples can store mixed data types: strings, integers, booleans, etc.

In [9]:
mixed = (1, "apple", True)
mixed

(1, 'apple', True)

**9. The tuple() Constructor**

You can use the tuple() constructor to create a tuple from an iterable.

In [10]:
t = tuple(["apple", "banana"])
t

('apple', 'banana')

**10. Access Tuple Items**

Access items using index numbers, starting at 0.

In [11]:
t = ("apple", "banana")
print(t[1])  # Output: banana

banana

**11. Negative Indexing**

Use negative indexing to access items from the end.

In [12]:
t = ("apple", "banana")
print(t[-1])  # Output: banana

banana

**12. Range of Indexes**

Slice a tuple to access a range of values.

In [13]:
t = ("a", "b", "c", "d")
print(t[1:3])  # Output: ('b', 'c')

('b', 'c')

**13. Range of Negative Indexes**

Slicing also works with negative indexes.

In [14]:
t = ("a", "b", "c", "d")
print(t[-3:-1])  # Output: ('b', 'c')

('b', 'c')

**14. Check if Item Exists**

Use in to check if a value exists in a tuple.

In [15]:
if "apple" in t:
    print("Yes")

**15. Change Tuple Values**

Tuples are immutable, but you can work around this by converting to a list.

*i. Convert into a list*

In [22]:
t = ("a", "b")
l = list(t)
l[1] = "z"
t = tuple(l)
t

('a', 'z')

*ii. Add tuple to a tuple*

You can concatenate tuples to add items.

In [18]:
t += ("kiwi",)
t

('a', 'z', 'kiwi')

*iii. Remove Items*

Convert to list, remove items, then convert back.

In [23]:
t = list(t)
t.remove("a")
t = tuple(t)

**16. Unpack Tuples**

Unpacking allows assigning tuple items to variables.

In [25]:
fruits = ("apple", "banana", "cherry")
a, b, c = fruits
print(a)
print(b)
print(c)

apple
banana
cherry

**17. Using Asterisk** *

The asterisk can collect the remaining items into a list.

In [26]:
fruits = ("apple", "banana", "cherry", "kiwi")
a, *b = fruits
print(a)
print(b)

apple
['banana', 'cherry', 'kiwi']

**18. Loop Tuples**

*i. Loop Through a Tuple*

In [27]:
for x in fruits:
    print(x)

apple
banana
cherry
kiwi

*ii. Loop Through the Index Numbers*

In [29]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
kiwi

*iii. Using a While Loop*

In [28]:
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry
kiwi

**19. Join Two Tuples**

Use + operator to join two tuples.

In [30]:
t1 = ("a", "b")
t2 = (1, 2)
result = t1 + t2

**20. Multiply Tuples**

Use * operator to repeat the tuple.

In [31]:
t1 = ("apple",)
result = t1 * 3  # ('apple', 'apple', 'apple')

**21. Tuple Methods**

| Method   | Description                                                  | Example                                 | Output         |
|----------|--------------------------------------------------------------|-----------------------------------------|----------------|
| count()  | Returns the number of times a specified value occurs         | `t = (1, 2, 2, 3); t.count(2)`          | `2`            |
| index()  | Returns the index of the first occurrence of the specified value | `t = (1, 2, 3); t.index(3)`         | `2`            |

**Real-Time Problem Statements Using Tuples**

**1.Immutable Configuration Settings**
Store application configurations (like version number, default settings) as tuples to prevent accidental changes.

**2.Geolocation Coordinates**
Use tuples to store fixed latitude and longitude coordinates for landmarks or delivery points.

**3.Database Connection Credentials**
Store database credentials or connection details as tuples to ensure they aren’t modified during runtime.

**4.RGB Color Codes**
Represent color values (R, G, B) for a design system using tuples, which are more compact and immutable.

**5.API Response Structure**
When an API returns multiple values (status, message, data), represent the fixed structure using tuples.

**6.Packing/Unpacking Parameters**
Return multiple values from a function (e.g., user info like name, age, email) as a tuple and unpack them cleanly.

**7.Historical Event Timeline**
Store a list of tuples containing dates and events to keep an unchangeable record.

**8.User Roles or Permissions**
Define access levels like ("admin", "moderator", "user") to refer to throughout the program without altering.

**9.Quiz Questions**
Each question can be stored as a tuple containing (question_text, correct_option) to ensure immutability.

**10.Shopping Cart Summary**
Each cart item could be a tuple of (item_name, quantity, price) used for quick calculations and display.