**Python Lambda**

**Syntax**

A lambda function is a small anonymous function defined using the lambda keyword.

In [1]:
# Syntax: lambda arguments : expression
square = lambda x: x * x
print(square(5))  # Output: 25

25

*Example 1:* Add Two Numbers

In [2]:
add = lambda a, b: a + b
print(add(3, 5))  # Output: 8

8

*Example 2:* Find Maximum of Two Numbers

In [3]:
maximum = lambda a, b: a if a > b else b
print(maximum(10, 15))  # Output: 15

15

*Example 3:* Convert Celsius to Fahrenheit

In [4]:
to_fahrenheit = lambda c: (c * 9/5) + 32
print(to_fahrenheit(0))  # Output: 32.0

32.0

*Example 4:* Check Even or Odd

In [5]:
even_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
print(even_odd(7))  # Output: Odd

Odd

*Example 5:* Multiply All Elements in a List

In [6]:
from functools import reduce
nums = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, nums)
print(product)  # Output: 24

24

**2. Why Use Lambda Functions?**

* Useful for short, throwaway functions

* Commonly used with functions like `map(), filter(), and sorted()`

* Improves code readability for small operations

*Example 1:* Sort List of Tuples by Second Element

In [7]:
pairs = [(2, 3), (1, 2), (5, 1)]
pairs.sort(key=lambda x: x[1])
print(pairs)  # Output: [(5, 1), (1, 2), (2, 3)]

[(5, 1), (1, 2), (2, 3)]

*Example 2:* Filter Numbers Greater Than 10

In [8]:
nums = [5, 12, 17, 3, 8]
greater_than_10 = list(filter(lambda x: x > 10, nums))
print(greater_than_10)  # Output: [12, 17]

[12, 17]

*Example 3:* Map Strings to Uppercase

In [9]:
words = ['hello', 'world']
uppercase_words = list(map(lambda x: x.upper(), words))
print(uppercase_words)  # Output: ['HELLO', 'WORLD']

['HELLO', 'WORLD']

*Example 4:* Conditional Discount Logic

In [10]:
discount = lambda price: price * 0.9 if price > 100 else price
print(discount(150))  # Output: 135.0

135.0

*Example 5:* Sort Dictionary by Values

In [11]:
prices = {'apple': 50, 'banana': 20, 'cherry': 75}
sorted_prices = dict(sorted(prices.items(), key=lambda item: item[1]))
print(sorted_prices)  # Output: {'banana': 20, 'apple': 50, 'cherry': 75}

{'banana': 20, 'apple': 50, 'cherry': 75}

**Real-Time Problem Statements**

1.Sorting a List of Tuples by Second Value

2.Filter Even Numbers

3.Map to Square Numbers

4.Check Voter Eligibility

5.Tip Calculator

6.Custom Sorting by String Length