**Real-Time Problem Statements Using Functions**

**1.Billing System**

Create a calculate_total() function to compute bill amount.

In [2]:
def calculate_total(prices):
  return sum(prices)

print(f"Total Bill :{calculate_total([125,55,35,102])}")

Total Bill :317

**2.User Greeting System**

Create a greet_user(name) function to greet users dynamically.

In [3]:
def greet_user(name):
  print("Welcome " + name)

greet_user('kiki')

Welcome kiki

**3.Dynamic Email Generator**

Generate custom emails using functions with keyword arguments.

In [4]:
def generate_email(**kwargs):
    return f"Hi {kwargs.get('name')}, your order #{kwargs.get('order_id')} is confirmed."

print(generate_email(name="John", order_id=1234))

Hi John, your order #1234 is confirmed.

**4.Order Summary Printer**

Accept order items as *args and print them one by one.

In [5]:
def print_order_summary(*items):
    print("Order Summary:")
    for item in items:
        print("-", item)

print_order_summary("Shoes", "Watch", "Wallet")

Order Summary:
- Shoes
- Watch
- Wallet

**5.Profile Builder**

Accept user profile data using **kwargs and return a profile dict.

In [6]:
def build_profile(**info):
    return info

profile = build_profile(name="Emma", age=28, city="Pune")
print(profile)

{'name': 'Emma', 'age': 28, 'city': 'Pune'}

**6.Loan Eligibility Checker**

Define a function to check if user income and credit score are sufficient.

In [7]:
def is_eligible(income, credit_score):
    return income > 30000 and credit_score >= 700

print(is_eligible(40000, 710))  # Output: True

True


**7.Temperature Converter**

A function that converts Celsius to Fahrenheit and returns the result.

In [8]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_to_fahrenheit(25))  # Output: 77.0

77.0

**8.Factorial Calculator**

Use recursion to calculate factorial of a number.

In [9]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

120

**9.Quiz Scorer**

Pass a list of answers and compare against a key using a function.

In [10]:
def score_quiz(answers, key):
    score = 0
    for a, k in zip(answers, key):
        if a == k:
            score += 1
    return score

print(score_quiz(['A', 'C', 'B'], ['A', 'B', 'B']))  # Output: 2

2

**10.Even Number Filter**

Create a function that takes a list and returns only even numbers.

In [11]:
def filter_even(numbers):
    return [num for num in numbers if num % 2 == 0]

print(filter_even([1, 2, 3, 4, 5, 6]))  # Output: [2, 4, 6]

[2, 4, 6]