<a href="https://colab.research.google.com/github/rohi56/RealWorldPython101/blob/main/05%20-%20Python%20Data%20Types/solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Real-Time Problem Statements Solutions**

1.Store your name, age, and whether you're a student. Print each with its data type.

In [1]:
name = "Rohit"
age = 25
is_student = True

print(name, type(name))
print(age, type(age))
print(is_student, type(is_student))

Rohit <class 'str'>
25 <class 'int'>
True <class 'bool'>

2. Ask the user to input their birth year and calculate their age. Make sure to cast the input correctly.

In [2]:
dob = int(input("Enter your date of birth year: "))
age = 2025 - dob
print(age)
print(type(age))

Enter your date of birth year: 1992
33
<class 'int'>

3.Create a list of 5 favorite movies. Print the type and contents.

In [4]:
movies = ["Avengers", "Spider-Man", "Hulk", "Thor", "Loki"]
print(movies)
print(type(movies))

['Avengers', 'Spider-Man', 'Hulk', 'Thor', 'Loki']
<class 'list'>

4.Create a tuple of your 3 top skills. Print it and show its type.

In [5]:
skills = ("Python", "Machine Learning", "Deep Learning")
print(skills)
print(type(skills))

('Python', 'Machine Learning', 'Deep Learning')
<class 'tuple'>

5.Use a dictionary to store a user's profile (name, age, city). Print the dictionary and its type.

In [6]:
user = {"name": "Rajesh", "age": 25, "city": "Mumbai"}
print(user)
print(type(user))

{'name': 'Rajesh', 'age': 25, 'city': 'Mumbai'}
<class 'dict'>

6.Create a set of unique numbers from a list with duplicates.

In [7]:
# List with duplicate numbers
numbers = [4, 5, 6, 4, 7, 5, 6, 8, 9, 4]

# Convert the list to a set to remove duplicates
unique_numbers = set(numbers)

# Output the result
print("Original List:", numbers)
print("Unique Numbers (Set):", unique_numbers)
print("Data Type:", type(unique_numbers))

Original List: [4, 5, 6, 4, 7, 5, 6, 8, 9, 4]
Unique Numbers (Set): {4, 5, 6, 7, 8, 9}
Data Type: <class 'set'>

7.Check and print the type of a variable that has the value None.

In [8]:
val = None
print(type(val))

<class 'NoneType'>

8. Convert an integer to a float, then to a string. Print the final result and its type.

In [10]:
value = 23
print(value)
print(type(value))

value = float(value)
print(value)
print(type(value))

value = str(value)
print(value)
print(type(value))

23
<class 'int'>
23.0
<class 'float'>
23.0
<class 'str'>

9.Ask the user if they are employed (yes/no) and store it as a boolean.

In [16]:
user_input = input("Are you employed? (yes/no): ")

is_employed = True if user_input == "yes" else False


print("Employment Status (Boolean):", is_employed)
print("Data Type:", type(is_employed))

Are you employed? (yes/no): no
Employment Status (Boolean): False
Data Type: <class 'bool'>

10. Make a simple data summary program that prints the types of all stored information.

In [17]:
# Sample stored data
name = "Ajay"             # str
age = 28                   # int
height = 5.6               # float
is_student = False         # bool
skills = ["Python", "SQL"] # list
profile = {"city": "Pune", "country": "India"}  # dict
grades = (85, 90, 95)      # tuple
unique_ids = {101, 102, 103} # set
misc = None                # NoneType

# Print a summary
print("=== Data Summary ===")
print(f"name: {name} - Type: {type(name)}")
print(f"age: {age} - Type: {type(age)}")
print(f"height: {height} - Type: {type(height)}")
print(f"is_student: {is_student} - Type: {type(is_student)}")
print(f"skills: {skills} - Type: {type(skills)}")
print(f"profile: {profile} - Type: {type(profile)}")
print(f"grades: {grades} - Type: {type(grades)}")
print(f"unique_ids: {unique_ids} - Type: {type(unique_ids)}")
print(f"misc: {misc} - Type: {type(misc)}")

=== Data Summary ===
name: Ajay - Type: <class 'str'>
age: 28 - Type: <class 'int'>
height: 5.6 - Type: <class 'float'>
is_student: False - Type: <class 'bool'>
skills: ['Python', 'SQL'] - Type: <class 'list'>
profile: {'city': 'Pune', 'country': 'India'} - Type: <class 'dict'>
grades: (85, 90, 95) - Type: <class 'tuple'>
unique_ids: {101, 102, 103} - Type: <class 'set'>
misc: None - Type: <class 'NoneType'>