Python Sets

**1. Set**

A set is a collection which is unordered, unchangeable (but you can add or remove items), and unindexed. It is defined using curly braces {}.

In [1]:
my_set = {"apple", "banana", "cherry"}
my_set

{'apple', 'banana', 'cherry'}

**2. Set Items**

Set items are unique, meaning duplicates are not allowed. They can be of different data types.

In [2]:
mixed_set = {"apple", 42, True}
mixed_set

{42, True, 'apple'}

**3. Unordered**

Sets do not maintain any order. When you print or loop through a set, the order may be different each time.

In [4]:
s = {"a", "b", "c"}
print(s)  # Order not guaranteed

{'a', 'b', 'c'}

**4. Unchangeable**

Once a set is created, you cannot change its items directly, but you can add or remove items.

**5. Get the Length of a Set**

Use len() to find how many items are in the set.

In [5]:
print(len(my_set))

3

**6. Set Items - Data Types**



*   You can mix data types in a set.
*   Use type() to check data type.
*   Use set() constructor to create a set from any iterable.

In [6]:
nums = set([1, 2, 3])
print(type(nums))  # <class 'set'>

<class 'set'>

**7. Access Set Items**

You cannot access items using index, but you can loop through them.

In [7]:
for item in my_set:
    print(item)

apple
banana
cherry

**8. Add Set Items**

*  Add Items: Use add().

*  Add Sets: Use update() to add multiple elements.

*  Add Any Iterable: Works with lists, tuples, etc.

In [9]:
my_set.add("orange")
my_set.update(["kiwi", "melon"])
my_set

{'apple', 'banana', 'cherry', 'kiwi', 'melon', 'orange'}

**9. Remove Set Items**

* remove(): Removes item, raises error if not found.

* discard(): Removes item, no error if not found.

* pop(): Removes a random item.

* del: Deletes the entire set.

In [10]:
my_set.discard("banana")
my_set

{'apple', 'cherry', 'kiwi', 'melon', 'orange'}

**10. Loop Sets**

Loop using for or while just like lists.

In [11]:
for x in my_set:
    print(x)

apple
cherry
orange
melon
kiwi

**11. Join Sets**

Joining sets means combining the items of two or more sets into a single set. Python provides several ways to join or compare sets using methods and operators.

*i. Join Sets (Using update())*

This method adds all items from one set to another. It modifies the original set in-place.

In [13]:
set1 = {"apple", "banana"}
set2 = {"cherry", "date"}
set1.update(set2)
print(set1)  # Output: {'apple', 'banana', 'cherry', 'date'}

{'apple', 'date', 'banana', 'cherry'}

*ii. Union (union() or |)*

Returns a new set that contains all items from both sets, without duplicates. The original sets remain unchanged.

In [12]:
set1 = {"a", "b"}
set2 = {"b", "c"}
result = set1.union(set2)
# or: result = set1 | set2
print(result)  # Output: {'a', 'b', 'c'}

{'a', 'b', 'c'}

*iii. Join Multiple Sets*
You can join more than two sets using union() or update() by chaining them or passing multiple arguments.

In [14]:
set1 = {1, 2}
set2 = {3, 4}
set3 = {5, 6}
all_sets = set1.union(set2, set3)
print(all_sets)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

*iv. Join a Set and a Tuple*

You can join a set with any iterable (like list, tuple, or string) using update() or union().

In [15]:
my_set = {1, 2}
my_tuple = (3, 4)
my_set.update(my_tuple)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

*v. Update (update() or |=)*

update() adds all elements from another iterable to the set, changing the original. |= is the operator version.

In [16]:
s1 = {10, 20}
s2 = {30, 40}
s1 |= s2
print(s1)  # Output: {40, 10, 20, 30}

{40, 10, 20, 30}

*vi. Intersection (intersection() or &)*

Returns only the common elements between sets.

In [17]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

{2, 3}

*vii. Difference (difference() or -)*

Returns items present only in the first set but not in the second.

In [18]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.difference(b))  # Output: {1}

{1}

*viii. Symmetric Differences (symmetric_difference() or ^)*

Returns items that are in either of the sets, but not in both (i.e., non-common elements).

**12. Set Methods Table**

| Method                          | Shortcut | Description                                                      | Example Code                                               |                                       |
| ------------------------------- | -------- | ---------------------------------------------------------------- | ---------------------------------------------------------- | ------------------------------------- |
| `add()`                         | –        | Adds an element to the set                                       | `s = {1,2}; s.add(3)  # {1,2,3}`                           |                                       |
| `clear()`                       | –        | Removes all elements from the set                                | `s = {1,2}; s.clear()  # set()`                            |                                       |
| `copy()`                        | –        | Returns a shallow copy of the set                                | `s = {1,2}; c = s.copy()`                                  |                                       |
| `difference()`                  | `-`      | Returns a set with elements in this set but not in others        | `{1,2,3}.difference({2,3})  # {1}`                         |                                       |
| `difference_update()`           | `-=`     | Removes elements found in another set                            | `s = {1,2,3}; s.difference_update({2})  # {1,3}`           |                                       |
| `discard()`                     | –        | Removes specified item (no error if not found)                   | `s = {1,2}; s.discard(2)  # {1}`                           |                                       |
| `intersection()`                | `&`      | Returns a set with elements common in both sets                  | `{1,2,3}.intersection({2,3})  # {2,3}`                     |                                       |
| `intersection_update()`         | `&=`     | Updates set with intersection of itself and another              | `s = {1,2,3}; s.intersection_update({2,3})  # {2,3}`       |                                       |
| `isdisjoint()`                  | –        | Returns True if sets have no items in common                     | `{1,2}.isdisjoint({3,4})  # True`                          |                                       |
| `issubset()`                    | `<=`     | Returns True if all items in this set are in another             | `{1,2}.issubset({1,2,3})  # True`                          |                                       |
| `<`                             | –        | True if all items in first set are in second and not equal       | `{1,2} < {1,2,3}  # True`                                  |                                       |
| `issuperset()`                  | `>=`     | Returns True if this set has all items of another                | `{1,2,3}.issuperset({1,2})  # True`                        |                                       |
| `>`                             | –        | True if first set has all items of second and they are not equal | `{1,2,3} > {1,2}  # True`                                  |                                       |
| `pop()`                         | –        | Removes a random item from the set                               | `s = {1,2,3}; s.pop()`                                     |                                       |
| `remove()`                      | –        | Removes specified item (raises error if not found)               | `s = {1,2}; s.remove(2)  # {1}`                            |                                       |
| `symmetric_difference()`        | `^`      | Returns items in either set, but not both                        | `{1,2,3} ^ {2,3,4}  # {1,4}`                               |                                       |
| `symmetric_difference_update()` | `^=`     | Updates set with symmetric difference of itself and another      | `s = {1,2}; s.symmetric_difference_update({2,3})  # {1,3}` |                                       |
| `union()`                       | \`       | \`                                                               | Returns a new set with all items from both sets            | `{1,2}.union({2,3})  # {1,2,3}`       |
| `update()`                      | \`       | =\`                                                              | Adds elements from another set or iterable                 | `s = {1}; s.update({2,3})  # {1,2,3}` |

**Real-Time Problem Statements Using Python Sets**

**1.Email Duplicate Filter**
Store user email addresses in a set to automatically remove duplicates while collecting data from a form.

**2.Common Friends Finder**
Find mutual friends between two users using set intersection.

**3.Tag Manager for Blog Posts**
Automatically merge unique tags from multiple blog posts using union.

**4.Inventory Reconciliation**
Compare inventory in store and system records to find mismatches.

**5.Remove Blocked Users from Chatroom**
Use difference_update() to remove blocked users from an active chat list.

**6.Real-time Duplicate Entry Prevention**
While scanning QR codes, use a set to track which ones have already been scanned.

**7.Attendance Tracker**
Compare sets of registered users and attendees to find absentees.

**8.Keyword Filtering in Chat**
Maintain a set of banned words and check user messages against it.

**9.Subscription Plan Comparison**
Show customers the unique features of their plan compared to others using set difference.

**10.Unique Product Categories from Sales Data**
Extract unique categories from thousands of transactions to optimize filters.